.parent {
    width: 100vw;
    min-width: 600px;
    display: flex;
    overflow-x: auto;
}


.col1 {
    width: 200px;
    border-right: solid 1px;
    height: 100vh;
}

.col2 {
    border-right: solid 1px;
    flex: 1;
    min-width: 100px;
    height: 100vh;
}


.col3 {
    width: 300px;
    border-right: solid 1px;
    height: 100vh;
}
